


.NavBar{
  width: 100%;
  height: 8vh;
  position: absolute;
  display: flex;
  background: transparent;
  /* padding: 0;
  margin: 0; */
  /* margin: 0  -2em; */
  align-items: center;
  /* z-index: 7; */


}

.NavBar > *{
  margin: 0 2em;

}

.custom-shape-divider-top-1663765420 {
  position: absolute;
  top: -7;
  left: 0;
  width:  98vw;
  overflow: hidden;
  line-height: 0;
  /* z-index: -10000; */

}


.featured-wave{
  position: absolute;
  top: 25;
  left: 0;
  width:  100%;
  overflow: hidden;
  line-height: 0;
}

.div{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}


/* .custom-shape-divider-top-1663765420 svg path {
  background-color: var(--pamGreen);
} */


/* body{
 
} */
.hero{

 height: 100vh;
 width: 100%;
 position: relative;
 margin: 0  -2em;
 

}

/* .hero > * {
  margin: 0 2em;
} */


.featured{
  height: 100vh;
}


.App{
    
  /* width: 100vw; */
  /* margin: 0 2em; */
  position: relative;

}

.ham--menu {
  display: flex;
  

}

.ham--menu > *:nth-child(2){
  flex: 1 1 70%;
  

}


.ham--menu > *:nth-child(1){
  flex: 1 1 20%;
  max-width: 20%;

}


.con{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.menu {

  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 9;
  /* margin: 0  -2em; */
  background-color:  white;
  display: flex;
  justify-content: center;
  /* align-items: center; */



}


.menu > *{
  margin-top: 2em;

}

.w{
  color: #00001e;
}

.overlay-op{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  /* margin: 0  -2em; */
  background-color: rgba(0, 0,0, 0);
}

.hero-img{
 position: absolute;
 /* top: -12vh; */
 left: 0;
 height: 100%;
 width: 100%;
 /* z-index: -3; */
 /* margin: 0  -2em; */
 /* opacity: .8; */
}

img {
  object-fit: cover;
  /* opacity: ; */

}

.hero-img2{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -3;
  /* margin: 0  -2em; */
  opacity: .9;
  overflow: hidden;
}

.hero-img2 img{
  object-fit: contain;
  /* height: 100vh; */
  width: 100vw;
}

.hero-img img{
  object-fit: cover;


}


.op{
  opacity: 1;
}
.bounds{
  position: relative;
}

.nr{
  margin-right: -2em;
}

.typing {
  position: relative;
  min-height: 1em;
}

.typing::after{
   content: "";
   position: absolute;
   width: 2px;
   height: 100%;
   
   border-right: 2px solid black;
   animation: blink .5s infinite;
    
}


.hi{
  /* height: 1em; */
  /* background-color: yellow; */
}


@keyframes blink {
 0%{
  opacity: 0;
 }
 100%{
   opacity: 1;
 }
}



.text-col a {
  font-weight: 800;
  font-size: 1.5rem;
  padding: 3em 0;
  /* margin-top: 1em; */
  color: var(--grey);
  text-transform: uppercase;
  cursor: pointer;
}

.p{
  margin-bottom: 1em;
}


.lets-talk a{
  font-weight: 800;
  /* font-size: 1.5rem; */
  padding: 2.5em 0;
  color: rgb(35, 48, 62);
  text-transform: uppercase;
  cursor: pointer;
}
.learn-more {
  position: relative;
  /* margin-top: 2em; */
}

.learn-more::after {
  content: "";
  position: absolute;
  top: 60%;
  left: 0;
  background-color: #860017;
  width: 100%;
  height: 5px;
  opacity: .7;
}

li a {
  font-family: "Aileron";
}

.lets-talk{
  position: relative;

}
.lets-talk::after{
  position: relative;
  content: "";
  position: absolute;
  top: 67%;
  left: 0;
  /* background-color: red; */
  width: 100%;
  height: 5px;
  opacity: .7;
}


.menu{
position: absolute;
}

.left-panel-background, .right-panel-background {
  width: 50vw;
  height: 100vh;
  position: absolute;

  z-index: 11;
 
  
}

.right-panel-background {
    right: 0;

}


.left-panel-background{
  left: 0;
}


.projects{
  /* width: 100vw; */
  min-height: 100vh;
}

.ul {
  /* width: 80vw; */
  /* overflow: hidden; */
  position: absolute;
  top: 0;
  right: 2em;
  z-index: 10;
  
}

ol {
  display: flex;
  height: 128px;
  justify-content: center;
  align-items: center;

}




.text-black > div{
  height: 6px;
  width: 50px;
  margin: 6px 0;
  background-color: white;
  border-radius: .1em;

}

.text-black > :nth-child(2){
  width: 45px;
}
.text-black > :nth-child(3){
  width: 40px;
}

.title {
  font-size: 32px;
  margin-left: 20px;
  position: relative;
  cursor: pointer;
}

.title.selected{
  font-size: 64px;
}

.underline{
  width: 100%;
  height: 8px;
  border-radius:4px;
  position: absolute;
  bottom: -4px;
}


.details {
  justify-content: flex-end;
  padding: .5em;

}

.feat > div {
  display: flex;
  flex-direction: column;
 align-items: center;
}

.feat img {
   object-fit: cover;
   width: 100%;
   height: 100%;
   /* opacity: .8; */
   /* filter: grayscale(100%); */
   /* transform: rotate(-25deg); */
  
   /* padding: .4em; */
}

.shade{
   height: fit-content;

  /* box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%); */
  box-shadow: 0 11px 15px -7px rgb(0 0 30/ 20%), 0 24px 38px 3px rgb(0 0 30/ 14%), 0 9px 46px 8px rgb(0 0 30/ 12%);
  /* border: 2px solid #00001e; */
  border-radius: .5em;
}

.shade img {
width: 100%;
height: 100%;
}

.shade-deep{
  box-shadow: 3px 3px 6px 0px #CCDBE8 inset, -3px -3px 6px 1px rgba(255,255,255,0.5) inset;
  border: 2px solid #00001e;
  border-radius: .5em;

}



.card-des{
  height: 30%;
  background-color: #334155;
  /* opacity: .9; */
}

.ib{
  z-index: -100000;
  margin: 0 3.56em;
}

.floaty{
  position: absolute;
  /* bottom:2em;
  right: 0; */
  padding: .5em 3em;
  z-index: 2;
  width: fit-content;
  background-color: white;
  box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%);
  border-radius: 1em;
}

.top-left{
  top: 0;
  left: 0;
}

.top-right{
  top:0;
  right: 0;
}

.bottom-left{
  bottom: 0;
  left: 0;
}

.bottom-right{
  bottom: 0;
  right: 0;
}

.floaty-horizontal{
  left: 0;
  right: 0;
  margin: 0 auto;
}

.floaty-vertical {
 
  margin: auto 0;
}

.floaty-center{
  left: 0;
  right: 0;
  top: 0;
  /* bottom: 0; */
  margin: auto;
}



.content{
  overflow-y: auto;
  overflow-x: hidden;
  margin-right: 1em;

}

.side--links{
  background: #00001e;
  color: white;
  /* align-items: center; */
  
}

.icons img {
  filter: invert(12%) sepia(8%) saturate(5091%) hue-rotate(193deg) brightness(92%) contrast(86%);
}


.icons img:hover{
  filter: invert(68%) sepia(22%) saturate(6493%) hue-rotate(123deg) brightness(97%) contrast(74%);
}

.side--links > *{
  margin-left: 2em;
}


.actualLinks{
  display: flex;
  flex-direction: column;
  margin: 2em 2em;
  font-size: 1.2em;
  color: #b1b7d9;
}

.actualLinks > *{
  margin: 1em 0;
 
}

.actualLinks > div  > a{
  margin-left: 1.2em;
  cursor: pointer;
}
 svg{
  display: block;
  margin: auto 0;
}

.actualLinks> div:hover{
  /* transform: scale(1.2); */
  color: var(--pamGreen)
  
}

.selected{
  color: var(--pamGreen);
  /* transform: scale(1.1); */
}
svg:hover{
   /* transform: scale(1.2); */
}

h6{
  color: brown;
  font-size: 6em;
}
.par{
  color: #b1b7d9;
}


.keyword1{
  color: #3c1935;
}

.string {
  color: #76FF03;
}

.keyword2{
  color: #FFFF00;
}

.keyword3{
  color: #283593;
}

.constants {
  color: #EC407A;
}


img{
  object-fit: cover;
}

.devImg{
  display: flex;
  justify-content: center;
 
}

.devImg img{
  height: 120px;
  width: 120px;
  border-radius: 100%;

  filter: saturate(2.2)  grayscale(.2)  brightness(.7);
  /* color: #00001e; */
}


.img-p img{
  object-fit: cover;

  /* filter: grayscale(.2); */
  filter: saturate(2.2)  grayscale(.2)  brightness(.7);


}

.img-p img:hover{
  filter: saturate(2.25)  grayscale(.24)  brightness(.77);
}



.grid-ishp {
  display: flex;
  flex-wrap: wrap;

}


.grid-ishp > * {
  flex: 1 1 26em;
}

.grid-ishp img {
  height: 100%;
}