
@import './fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  box-sizing: border-box;

}




.baseMent {
  font-family: "Basement Grotesque";
}

.Al {
  font-family: "Aileron";
}


#root{
   /* background-color: blue; */
  /* width: 100%; */
}



body {
  padding: 0;
  margin: 0;
  /* font-family: "Aileron"; */
  /* width: 100%;
  height: 100%; */
  background-color: #242a45;
  z-index: -1000;
  scroll-behavior: smooth;
}


h1, h2{
  color: #b1b7d9;

}
h1 {
  font-size: 3em;
  line-height: 1.1;
  font-family: "Basement Grotesque";
  font-weight: 800;
  /* color: var(--purple); */

 
}

h2 {
  font-size: 2em;
  line-height: 1.1;

  /* font-weight: 100; */
  font-family: "Basement Grotesque";
  /* color: var(--purple); */

  

/*  hsl(167, 40%, 24%) */
/* hsl(198, 62%, 26%) */
/* hsl(168, 34%, 41%) */
}

#target {
  font-size: 4.5em;
  color: #b1b7d9;
}


h3{
  font-size: 2em;
  line-height: 1.1;
  font-family: "Basement Grotesque";
  /* font-weight: 400; */
  color: #00001e;
  /* hsl(213, 9%, 39%) */
  /* hsl(232, 10%, 55%) */
}




p {
  font-size: 1.5em;
  font-family: "Aileron";
  color: #69719b;
}

/* 

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */


@media (max-width: 948px) {
  .shrink-hero{
    /* background-color: red; */
    /* t r b l */
    margin: 0 3em 1.5em 3em;
   padding: 0 0 3em 0;
  }
  
}

@media (max-width: 548px){
  .shrink-hero{
    /* background-color: red; */
    /* t r b l */
  display: none;
  }
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }

  .home{
    text-align: center;
  }

  .home p {
      padding: 0  4em;
  }
.grid-ishm{
  display: flex;
  flex-wrap: wrap;

}

.grid-ishm > *{
  flex: 1 1 28em;
}
  .home-on-mobi{
    padding-top: 2em;
  }

  .home-on-mobi h2 {
    font-size: .1em;
  }

  .typing-mobi{
    font-size: 1em;
  }
  .center-for-mobi{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em 4em;
    
  }

  .mobi{
    font-size: 1.5em;
  }
  .on-mobi{
    position: absolute;
    z-index: -10;
   opacity: .2;
  }


  h1{
    font-size: 2em;
    margin-bottom: 1em;
  }
  .flow-reverse{
    flex-direction: row;
      /* margin-right: -8em; */
      /* background-color: #00001e; */
      margin:0;
      margin-top: 1.4em;

  }

  .flow-normal {
   /* margin: 0; */
   /* flex-direction: row;*/
   margin-right: 2em; 
   margin-top: 1.4em;

  }
  .img-p img  {
    filter: saturate(2.2)  grayscale(.2)  brightness(.7);
  }


  .pt{
    padding-top: 4em;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }

  

}

.details {
  display: flex;
  align-items: center;
  height: 30%;
  /* z-index: 10; */
  width: 100%;
}


.details-card {
  width: 100%;
  height: auto;
  padding: 1em;

}

.flow-reverse{
  flex-direction: row-reverse;
    /* margin-right: -8em; */
    margin-right: 2em;
}


